################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/BlazorTicketMasterApp.Shared/obj/
/BlazorTicketMasterApp.Shared/bin/
/BlazorTicketMasterApp.UnitTests/obj/
/BlazorTicketMasterApp.UnitTests/bin/
